@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    width: 100%;
    min-width: 900px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    font-size: 24px;
    background-image: url(../images/bgt.jpg);
    background-size: cover;
    background-position: center center;
    height: 10vh;
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav,li{
    padding: 10px;
    list-style: none;
    color: #fff;
}
body > div > #menu{
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-left: auto;
}
h1{
    color: brown;
}
#form-container{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 310px;
    width: 50%;
    margin-bottom: 10px;
    margin-top: 15px;
}
#add-drinks{
    position: relative;
    /* background-color: rgba(253, 253, 253, 0); */
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#description{
    position: inherit;
    float:left;
    width: 90%;
    height: 15%;
}
body div div button{
    position: relative;
    float: right;
    margin-right: 10%;
    margin-bottom: 5%;
}
button.favorite{
    position: relative;
    float: left;
    margin-bottom: 5%;

}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: large;
    
}
input[type=text]{
    float:right;
    width: 50%;
    margin-right: 25%;
    border: none;
    padding: 12px 12px 12px 0;
    border-radius: 8px;
}
input[type=text]:focus {
    background-color: rgb(214, 215, 216);
    background-position: 10px 10px;
    

}
input[type=submit]{
    position: relative;
    background-color: rgba(67, 40, 148, 0.596);
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-right: 10px;
    margin-top: 20px;
    font-size: large;
    
}
input[type=submit]:hover{
    background-color: rgba(3, 10, 107, 0.803);
    
}
    
.remove, .favorite{
    border: none;
    border-radius: 25px;
    margin-top: 135px;
    color: white;
    background-color: rgba(0, 0, 0, 0.593);
    width: 70px;
}
hr {
    position: relative;
    top: 15px;
}
#more{
    position: relative;
    top: 30px;
    margin-left: 100px;
}
#more div {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    float:left;
    padding-left: 3.5%;
    height: 450px;
    border-radius: 10px;
    background-color: rgba(66, 66, 68, 0.163);
    width: 28%;

}
#more div h2{
    position: relative;
    font-size: large;
    float: top;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#more div img{
    position: relative;
    float: left;
    width: 90%;
    height: 40%;
    border-radius: 45px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: auto;
    padding-left: 0%;
}
